$font-fallback: san-serif;

$color-orange: hsl(5, 88%, 63%);
$color-dark-blue: hsl(240, 100%, 5%);
$color-gold: rgba(236, 171, 91, 1);
$color-light-gray: rgba(199, 196, 207, 1);
$color-dark-gray: rgba(92, 91, 96, 1);
$color-white: hsl(0, 0%, 100%); 

$grid-gap: 30px;

$breakpoint-tablet: 730px;
$breakpoint-desktop: 1200px;
