:root {
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-700: hsl(158, 36%, 20%);
    --clr-secondary-200: hsl(30, 38%, 92%);

    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --fw-regular: 500;
    --fw-bold: 700;

    --ff-primary: 'Montserrat', sans-serif;
    --ff-accent: 'Fraunces', serif;
}

/* resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* utilities */

body {
    background-color: var(--clr-secondary-200);
    font-size: .875rem;
    font-family: var(--ff-primary);
    color: var(--clr-neutral-400);
}

main {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
}

.accent-text {
    font-size: 2rem;
    font-family: var(--ff-accent);
}

.price-row {
    display: flex;
    align-items: center;
    gap: 20px
}

button {
    padding: 1em;
    line-height: 1;
    border-width: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    border-radius: var(--border-radius);
    font-weight: var(--fw-bold);
}

button:hover {
    cursor: pointer;
    background-color: var(--clr-primary-700)
}

/* product style */

.product {
    --border-radius: 8px;
    --width: 343px;
    --padding: 1.5rem;

    min-width: var(--width);
    width: var(--width);
    margin: 0 auto;
    background-color: var(--clr-neutral-100);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: grid;
}

.product__content {
    padding: var(--padding);
    display: grid;
    row-gap: 1rem;
}

.product__category {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: .4em;
}

.product__name {
    color: var(--clr-neutral-900);
    line-height: 1;
}

.product__description {
    line-height: 1.6;
}

.product__price {
    color: var(--clr-primary-400);
}

.product__original-price {
    text-decoration: line-through;
}

@media only screen and (min-width: 620px) {
    .product {
        --width: 600px;
        --padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    .product__content {
        row-gap: 1rem;
    }

    .product__description {
        margin-bottom: 0px; 
    }
}