$header-font: ('Raleway', sans-serif);
$body-font: ('Open Sans', sans-serif);

$bg-color: hsl(0, 0%, 100%);
$main-font-color: hsl(243, 87%, 12%);
$header-font-color: hsl(238, 22%, 44%);
$button-fill-color: rgb(48, 101, 248);
$button-active-fill-color: hsl(224, 93%, 70%);
$main-link-color: hsl(170, 45%, 43%);
$main-link-active-color: hsl(170, 45%, 60%);
$main-second-content-bg-color: hsl(240, 75%, 98%);
$main-cta-font-color: hsl(0, 0%, 75%);

$breakpoint-mobile: 375px;
$breakpoint-tablet: 481px;
$breakpoint-desktop-small: 769px;
$breakpoint-desktop-large: 987px;
