:root {
    --clr-primary: hsl(215, 51%, 70%);
    --clr-secondary: hsl(178, 100%, 50%);
    --clr-secondary-a: hsl(178, 100%, 50%, 40%);

    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-card-shadow: hsl(217, 54%, 8%);
    --clr-line: hsl(215, 32%, 27%);
    --clr-link: hsl(0, 0%, 100%);

    --ff-primary: 'Outfit', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;

    --trn-hover: .5s ease;
}

/* resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* utilities */
body {
    background-color: var(--clr-main-bg);
    color: var(--clr-primary);
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

picture {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: var(--clr-secondary-a);
    background: var(--clr-secondary-a) url("images/icon-view.svg") no-repeat center;
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    transition: var(--trn-hover);
    opacity: 0;
    cursor: pointer;
}

.overlay:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    color: var(--clr-link);
    transition: var(--trn-hover);
}

a:hover {
    color: var(--clr-secondary);
}

.flex-box {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.icon-text {
    display: inline-flex;
    align-items: center;
    gap: 0.4375rem;
}

hr {
    background-color: var(--clr-line);
    border: 0;
    height: 1px;
}

/* nft*/
.nft {
    --width: 327px;

    min-width: var(--width);
    width: var(--width);
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--clr-card-bg);
    box-shadow: 0px 25px 50px var(--clr-card-shadow);
    display: grid;
    row-gap: 1.8rem;
    border-radius: 15px;
}

.nft__content {
    display: grid;
    row-gap: 1.2rem;
}

.nft__name {
    font-size: 1.375rem;
    line-height: 1.2rem;
    font-weight: var(--fw-semi-bold);
}

.nft__description {
    font-size: 1.125rem;
    font-weight: var(--fw-light);
}

.nft__price {
    color: var(--clr-secondary);
    font-weight: var(--fw-semi-bold);
}

.nft__creator {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.nft__creator__pic {
    width: 33px;
    height: 33px;
    border: 1px solid var(--clr-link);
    border-radius: 17px;
}

@media only screen and (min-width: 370px) {
    .nft {
        --width: 350px;
    }
}